/* Reset général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de la page */
body {
  font-family: "Roboto", sans-serif;
  background-image: url("./background2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; /* Disposition verticale */
}

/* Conteneur principal pour les groupes */
.groupes {
  position: fixed;
  top: 100px; /* Décalage pour éviter la barre de navigation */
  left: 0;
  width: 25%; /* Taille en largeur */
  height: calc(100vh - 60px); /* Hauteur ajustée */
  background-color: #f5f5f5; /* Couleur de fond */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les éléments */
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1); /* Ombre */
  overflow-y: auto; /* Défilement vertical si nécessaire */
  scroll-behavior: smooth;
}

/* Bouton "Nouveau Groupe" */
#new-groupe {
  display: block;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  font-weight: 600;
  color: white;
  background-color: #007bff; /* Bleu par défaut */
  border-radius: 5px; /* Coins arrondis */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animation */
  cursor: pointer;
  border: none;
}

#new-groupe:hover {
  background-color: #0056b3; /* Bleu plus foncé */
  transform: scale(1.05); /* Agrandissement au survol */
}

/* Style pour chaque groupe */
.groupe {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.groupe:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

/* Icône de suppression */
.trash-icon {
  transition: transform 0.2s;
}

.trash-icon:hover {
  transform: scale(1.5); /* Agrandissement au survol */
  background-color: red;
  border-radius: 50%; /* Forme ronde */

}