main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px; 
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

label {
  font-family: 'Roboto', sans-serif; 
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-size: 1rem; 
  font-weight: 400; 
  color: #555;
  line-height: 1.6; 
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: #7190c0;
  outline: none;
  box-shadow: 0 0 5px rgba(113, 144, 192, 0.5);
}

#submit-button {
  padding: 12px;
  background-color: #7190c0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  width: 100%;
}

#submit-button:hover {
  background-color: #b0c6e1;
  transform: translateY(-2px);
}

#submit-button:active {
  transform: translateY(1px);
}

.submit {
  display: flex;
  justify-content: center;
}

body{

  background-image: url('../assets/background.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  height: 100vh; 
  margin: 0;
  padding: 0;

}

.input-field {
  position: relative;
}

.input-field label {
  position: absolute;
  color: #8d8d8d;
  pointer-events: none;
  background-color: transparent;
  left: 15px;
  transform: translateY(0.6rem);
  transition: all 0.3s ease;
}

.input-field input {
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  border: solid 1px #8d8d8d;
  letter-spacing: 1px;
  width: 100%;
}

.input-field input:focus,
.input-field input:valid {
  outline: none;
  border: solid 1px #7190c0;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  transform: translateY(-51%) translateX(-10px) scale(0.8);
  background-color: #fff;
  padding: 0px 5px;
  color: #7190c0;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 100px;
}
