main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
}

input {
  margin: 5px;
}
#submit-button {
  margin-top: 15px;
  width: 50%;
}

.submit {
  display: flex;
  justify-content: center;
}
