body {
    background-image: url('../assets/background3.svg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    padding: 20px;
}

.submit {
    display: flex;
    justify-content: center;
}

form {
    padding: 10px 30px;
    width: 100%;
    max-width: 600px; 
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 25px; 
    border-radius: 12px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #555;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 15px;
    font-size: 16px; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #7190c0; 
    outline: none;
}

button {
    flex: 1; 
    max-width: 200px; 
    background-color: #7190c0;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    background-color: #5a78a0;
}

#submit-button2 {
    background-color: #ff0000;
    transition: background-color 0.3s;
}

#submit-button2:hover {
    background-color: #ef3c3c;
}
