ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

li {
  margin: 0 15px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
img {
  width: 100px;
  height: 100px;
  max-width: 200px;
  max-height: 200px;
}


a {
  display: inline-block;
  padding: 5px 10px; /* Ajustez les dimensions selon vos besoins */
  text-decoration: none;
  color: #fff; /* Couleur du texte */
  background-color: #7190c0; /* Couleur de fond */
  border: none;
  border-radius: 5px; /* Ajoute des coins arrondis */
  font-family: Arial, sans-serif; /* Police pour un rendu soigné */
  font-size: 16px; /* Taille du texte */
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

a:hover {
  background-color: #5a759e; /* Couleur plus foncée pour le survol */
  transform: scale(1.05); /* Effet d'agrandissement */
}

a:active {
  transform: scale(0.95); /* Effet de clic */
}

h1 {
  font-family: 'Roboto', sans-serif; /* Police moderne et élégante */
  font-size: 2.5rem; /* Taille adaptée pour attirer l'attention */
  font-weight: 700; /* Gras pour le rendre impactant */
  color: #333; /* Couleur discrète */
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif; /* Cohérence avec le h1 */
  font-size: 1rem; /* Taille standard pour du texte descriptif */
  font-weight: 400; /* Poids normal pour un style discret */
  color: #555; /* Couleur légèrement plus claire que le h1 */
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.6; /* Amélioration de la lisibilité */
}

/* Optionnel : Importation de la police Roboto via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

