nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav img {
  height: 50px; 
}

.nav-right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
  display: flex;
  align-items: center; 
}

nav ul li a {
  color: white; /* Même couleur que le menu */
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-block; 
  transition: color 0.3s ease, transform 0.2s ease;
}


nav li{
  color: white;
}

nav ul li a:hover {
  color: #b0c6e1; /* Une teinte plus claire au survol */
  transform: scale(1.1); /* Effet d'agrandissement */
}

.menu {
  position: relative;
  display: flex;
  align-items: center;  
}
.dropdown {
  position: relative;
}

.menu-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none; 
  color: white;  
  display: inline-block;  
}


.menu-btn:hover {
  background-color: #444;
}

.liste-pages {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  min-width: 180px;
  z-index: 1;
}

.liste-pages a {
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.liste-pages a:hover {
  background-color: #444;
  color: #7190c0;
}

.menu:hover .liste-pages {
  display: block;
}
