.proposition-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: auto; /* La largeur s'adapte au contenu */
    min-width: 120px; /* Taille minimale */
    display: block; /* S'assurer que chaque bouton est sur une ligne */
    margin-bottom: 10px; /* Espacement entre les boutons */
    margin-top: 10px;
}

.proposition-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Agrandissement au survol */
}
