main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

form {
  margin-top: 60px;
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px; 
  transition: all 0.1s ease-in-out;
  display: column;
  gap: 15px;
}

form:hover {
  transform: scale(1.02);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

label {
  font-family: 'Roboto', sans-serif; 
  font-weight: 600;
  font-size: 14px;
  color: #000;
  font-size: 1rem;
  font-weight: 400; 
  color: #555;
  line-height: 1.6;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  border-color: #7190c0;
  outline: none;
  box-shadow: 0 0 5px rgba(113, 144, 192, 0.5);
}

#submit-button {
  padding: 12px;
  background-color: #7190c0;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  width: 100%;
}

#submit-button:hover {
  background-color: #b0c6e1;
  transform: translateY(-2px);
}

#submit-button:active {
  transform: translateY(1px);
}

.submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

body{

  background-image: url('../assets/background.svg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh; 
  margin: 0;
  padding: 0;

}